<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Pendler Solutions</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="" name="keywords">
    <meta content="" name="description">
    <link href="/img/favicon.png" rel="icon">
    <link href="https://fonts.googleapis.com/css2?family=Heebo:wght@400;500;600&family=Inter:wght@700;800&display=swap"
        rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.4.1/font/bootstrap-icons.css" rel="stylesheet">

    <link href="/careers/lib/animate/animate.min.css" rel="stylesheet">
    <link href="/careers/lib/owlcarousel/assets/owl.carousel.min.css" rel="stylesheet">

    <link href="/careers/css/style.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link rel="stylesheet" type="text/css" href="/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="/dist/leaflet.css" />
    <!-- Stylesheets -->
    <link rel="stylesheet" type="text/css" href="/css/vendors.css">
    <link rel="stylesheet" type="text/css" href="/css/main.css">

    <link rel="stylesheet" type="text/css" href="/slider/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/card/style.css">
    <script src="https://kit.fontawesome.com/13cc690693.js" crossorigin="anonymous"></script>
</head>

<body>
    <div class="container-xxl bg-white p-0">
        <nav class="rj">
            <div class="srjwrapper">
                <div class="logo" style="width: 200px;">
                    <a href="<%=baseUrl %>/home"><img src="/img/pendlerlogo.png"></img></a>
                </div>
                <input type="radio" name="slider" id="menu-btn">
                <input type="radio" name="slider" id="close-btn">
                <ul class="nav-links">
                    <label for="close-btn" class="btn close-btn"><i class="fas fa-times"></i></label>
                    <li class="srj"><a href="/home"><i aria-hidden="true" class="fas fa-home fa-fw"></i></a></li>
                    <li class="srj"><a href="<%=baseUrl %>/about">About Us</a></li>
                    <li class="srj"><a href="<%=baseUrl %>/technologies">Technologies</a></li>

                    <li class="srj">
                        <a href="#" class="desktop-item">Services</a>
                        <input type="checkbox" id="showMega">
                        <label for="showMega" class="mobile-item">Services</label>
                        <div class="mega-box">
                            <div class="srjcontent">
                                <div class="srjrow col-md-3">
                                    <header>Our Services</header>
                                    <p>The services are provided by businesses or professionals to help organizations
                                        manage their IT
                                        infrastructure, <br>improve their productivity, and enhance their overall
                                        performance. </p>
                                </div>
                                <div class="srjrow col-md-3">
                                    <% ser.forEach((serr,index)=> { %>
                                        <div class="mySlides fade">
                                            <header style="padding-left: 15px;">
                                                <%= serr.name %>
                                            </header>


                                            <img src="../../images/<%= serr.imageUrl %>" style="width:100%">
                                        </div>
                                        <% }) %>

                                            <div style="text-align:center">
                                                <span class="dot" style="display:none;"></span>
                                                <span class="dot" style="display:none;"></span>
                                                <span class="dot" style="display:none;"></span>
                                                <span class="dot" style="display:none;"></span>
                                                <span class="dot" style="display:none;"></span>
                                                <span class="dot" style="display:none;"></span>
                                                <span class="dot" style="display:none;"></span>
                                                <span class="dot" style="display:none;"></span>
                                                <span class="dot" style="display:none;"></span>
                                                <span class="dot" style="display:none;"></span>
                                                <span class="dot" style="display:none;"></span>
                                            </div>
                                </div>
                                <div class="srjrow  col-md-3">
                                    <ul class="mega-links" style="padding-top: 39px;">
                                        <% ser1.forEach((serr,index)=> { %>
                                            <li class="srj"><a
                                                    href="<%=baseUrl %>/<%= serr.pageUrl %>/<%= serr._id %>"><i
                                                        class="fas fa-caret-right pe-2"></i>
                                                    <%= serr.name %>
                                                </a></li>
                                            <% }) %>

                                    </ul>
                                </div>

                                <div class="srjrow col-md-3">
                                    <ul class="mega-links" style="padding-top: 39px;">
                                        <% ser2.forEach((serrr,index)=> { %>
                                            <li class="srj"><a
                                                    href="<%=baseUrl %>/<%= serrr.pageUrl %>/<%= serrr._id %>"><i
                                                        class="fas fa-caret-right pe-2"></i>
                                                    <%= serrr.name %>
                                                </a></li>
                                            <% }) %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </li>
                    <li class="srj"><a href="<%=baseUrl %>/careers">Careers</a></li>
                    <li class="srj"><a href="<%=baseUrl %>/contactus">Contact</a></li>
                    <li class="srj"><a href="<%=baseUrl %>/login"><i class='fas fa-sign-in-alt'></i> Login</a></li>
                </ul>
                <label for="menu-btn" class="btn menu-btn"><i class="fas fa-bars"
                        style="background-color: #1c1349;"></i></label>
            </div>
        </nav>
        <div class="body-text">
            <div class="title">pendler</div>
        </div>
        <!-- <div id="spinner"
            class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only">Loading...</span>
            </div>
        </div> -->
        <script>
            let slideIndex = 0;
            showSlides();

            function showSlides() {
                let i;
                let slides = document.getElementsByClassName("mySlides");
                let dots = document.getElementsByClassName("dot");
                for (i = 0; i < slides.length; i++) {
                    slides[i].style.display = "none";
                }
                slideIndex++;
                if (slideIndex > slides.length) { slideIndex = 1 }
                for (i = 0; i < dots.length; i++) {
                    dots[i].className = dots[i].className.replace(" active", "");
                }
                slides[slideIndex - 1].style.display = "block";
                dots[slideIndex - 1].className += " active";
                setTimeout(showSlides, 2000); // Change image every 2 seconds
            }
        </script>
        <section class="breadcrumbs ">
            <div class="container">
                <div class="row">
                    <div class="col-auto">
                        <div class="breadcrumbs__content">

                            <div class="breadcrumbs__item ">
                                <a href="<%=baseUrl %>/home">Home</a>
                            </div>

                            <div class="breadcrumbs__item ">
                                <a href="#">Careers</a>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="page-header -type-1" style="background:linear-gradient(180deg, #FFF 0%, #1C1349 108.34%);">
            <div class="page-header__content">
                <div class="row justify-center text-center">
                    <div class="col-auto">
                        <div>

                            <h1 class="page-header__title">Our Careers</h1>

                        </div>
                    </div>
                </div>
            </div>
        </section>

        <div class="container-xxl py-5">
            <div class="container">
                <div class="row g-4">
                    <% jobs.forEach((job,index)=> { %>
                        <div class="col-lg-4 col-sm-6">
                            <a class="cat-item rounded p-4 trj" href="/job_description/<%- job._id -%>">
                                <i class="fa fa-3x fa-solid fa-briefcase mb-4"></i>

                                <p class="mb-0"><%- job.jobrole -%></p>
                            </a>
                        </div>
                        <% }) %>
                          
                </div>
            </div>
        </div>
        <a href="#" class="btn btn-lg btn-primary btn-lg-square back-to-top"><i class="bi bi-arrow-up"
                style="color:white"></i></a>
    </div>
    <footer class="footer -type-5 pt-0" style="background: linear-gradient(180deg, #FFF 0%, #1C1349 108.34%);">
        <div class="container">
          <div class="row y-gap-30 pb-60">
            <div class="col-xl-3 col-lg-5 col-md-6">
              <div id="contact-carousel" class="carousel slide" data-bs-ride="carousel">
                <div class="carousel-inner">
                  <% addr.forEach((addrr,index)=> { %>
                  <div class="carousel-item <%= index === 0 ? 'active' : '' %>">
                    <div class="d-flex items-center">
                      <div class="d-flex justify-center items-center size-50 rounded-full bg-light-7">
                        <img src="<%=baseUrl %>/img/contact-1/2.svg" alt="icon">
                      </div>
                      <a href="tel:+<%= addr.phone1 %>"><div class="ml-20">+<%= addrr.phone1 %></div></a>
                    </div>
                    <div class="d-flex items-center">
                      <div class="d-flex justify-center items-center size-50 rounded-full bg-light-7">
                        <img src="<%=baseUrl %>/img/contact-1/3.svg" alt="icon">
                      </div>
                      <a href="mailto:<%= addr.email %>"><div class="ml-20"><%= addrr.email %></div></a>
                    </div>
                    <div class="d-flex items-center">
                      <div class="d-flex justify-center items-center size-50 rounded-full bg-light-7">
                        <img src="<%=baseUrl %>/img/contact-1/1.svg" alt="icon">
                      </div>
                      <div class="ml-20"><%= addrr.address %></div>
                    </div>
                    <div class="footer-header-socials mt-30" style="margin-left: 40px;">
                      <div class="footer-header-socials__list d-flex items-center">
                        <a href="<%= addrr.facebook %>" class="size-40 d-flex justify-center items-center"><i class="icon-facebook"></i></a>
                        <a href="<%= addrr.twitter %>" class="size-40 d-flex justify-center items-center"><i class="icon-twitter"></i></a>
                        <a href="<%= addrr.instagram %>" class="size-40 d-flex justify-center items-center"><i class="icon-instagram"></i></a>
                        <a href="<%= addrr.linkedin %>" class="size-40 d-flex justify-center items-center"><i class="icon-linkedin"></i></a>
                      </div>
                    </div>
                  </div>
                  <% }) %>
                 
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#contact-carousel" data-bs-slide="prev">
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden"></span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#contact-carousel" data-bs-slide="next">
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden"></span>
                </button>
              </div>
              
            </div>
            <div class="col-xl-3 col-lg-4 col-md-6">
              <div class="text-17 fw-500 text-dark-1 uppercase mb-25">ABOUT</div>
              <div class="d-flex y-gap-10 flex-column">
                <p>We are a global IT service provider situated in Kochi, India. The Pendler Solutions team has years of practical experience in creating and building IT solutions, and they have embraced the finest ITSM practises. 
              </div>
            </div>
            <div class="col-xl-3 col-lg-8 ">
              <div class="text-17 fw-500 text-dark-1 uppercase mb-25">Featured Services</div>
              <div class="row justify-between y-gap-20">
                <div class="col-lg-auto col-md-6">
                  <div class="d-flex y-gap-10 flex-column">
                    <% ser1.forEach((serr,index)=> { %>
                      
                    <a href="<%=baseUrl %>/<%= serr.pageUrl %>/<%= serr._id %>"><i class="fas fa-caret-right pe-2"></i><%= serr.name %></a>
                    <% }) %>
                        </div>
                </div>
              </div>
            </div>
            <div class="col-xl-2 offset-xl-1 col-lg-4 col-md-6">
              <div class="text-17 fw-500 text-dark-1 uppercase mb-25">Quick Access</div>
              <div class="d-flex y-gap-10 flex-column">
                <a href="<%=baseUrl %>/home"><i class="fas fa-caret-right pe-2"></i>Home</a>
                <a href="<%=baseUrl %>/about"><i class="fas fa-caret-right pe-2"></i>About</a>
                <a href="<%=baseUrl %>/technologies"><i class="fas fa-caret-right pe-2"></i>Technologies</a>
                <a href="<%=baseUrl %>/contactus"><i class="fas fa-caret-right pe-2"></i>Contact Us</a>
              </div>
            </div>
          </div>
          <div class="py-30 border-top-light">
            <div class="row justify-between items-center y-gap-20">
              <div class="col-auto">
                <div class="footer-footer__copyright d-flex items-center h-100" style="color: white;">
                  © 2023 Pendler Solutions Private Limited. All Right Reserved.
                </div>
              </div>
            </div>
          </div>
        </div>
      </footer>
      </div>
      </main>
    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>
    <!-- <script src="/careers/lib/wow/wow.min.js"></script> -->
    <script src="/careers/lib/easing/easing.min.js"></script>
    <script src="/careers/lib/waypoints/waypoints.min.js"></script>
    <script src="/careers/lib/owlcarousel/owl.carousel.min.js"></script>

    <!-- Template Javascript -->
    <script src="/careers/js/main.js"></script>
    
<script src="/dist/leaflet.js"></script>
<script src="/js/vendors.js"></script>
<script src="/js/main.js"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"></script>
<script src="/slider/bootstrap_latest.min.js"></script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js"></script>

</body>

</html>